{% extends 'layout.html'%}

{% block form_action%} 

<form action="" method="post" class="form col-5 mt-4">
    <div class="mb-3 grid gap-3">
        <label for="" class="form-label p-2 g-col-6">Apellido del autor</label>
        <input type="text" name="Apellido" class="form-control">

        <label for="" class="form-label p-1 g-col-6">Nombre del autor</label>
        <input type="text" name="Nombre" class="form-control">

        <label for="" class="form-label p-2 g-col-6">Año</label>
        <input type="number" name="Anio" class="form-control">

        <label for="" class="form-label p-2 g-col-6">Titulo</label>
        <input type="text" name="Titulo" class="form-control">

        <label for="" class="form-label p-2 g-col-6">Editorial o URL</label>
        <input type="text" name="Editorial" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Generar</button>
</form>


{%endblock%}