{% extends './layout.html' %}

{% block title %}  
    <div class="mt-3 nav justify-content-center">
        <h1>{{data['tituloPagina']}}</h1>
    </div> 
{% endblock %}

{% block form_action%}



<form action="" method="post" class="row g-3 mt-0">
    <div class="col-md-4">
        <label for="" class="form-label p-2 g-col-6">Apellido del autor</label>
        <input type="text" name="Apellido" class="form-control bg-light text-black   ">
    </div>
    <div class="col-md-4">
        <label for="" class="form-label p-2 g-col-6">Nombre del autor</label>
        <input type="text" name="Nombre" class="form-control bg-light text-black">
    </div>
    <div class="col-md-4">
        <label for="" class="form-label p-2 g-col-6">Fecha </label>
        <input type="date" name="fecha" class="form-control bg-light text-black">
    </div>
    <div class="col-md-4">
        <label for="" class="form-label p-2 g-col-7">Titulo</label>
        <input type="text" name="Titulo" class="form-control bg-light text-black">
    </div>
    <div class="col-md-4">
        <label for="" class="form-label p-2 g-col-7">Nombre del Sitio</label>
        <input type="text" name="nombreSitio" class="form-control bg-light text-black">
    </div>
    <div class="col-md-4">
        <label for="" class="form-label p-2 g-col-7">URL</label>
        <input type="text" name="url" class="form-control bg-light text-black">
    </div>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Generar</button>
</form>

{%endblock%}

{% block output %}
    <div class="mt-5 ml-5 col-7">
        <h1>Bibliografia</h1>
        <p>{{ data['apellido'] }}. {{ data['nombre'] }}. {{ data['fecha'] }}. <span class="fst-italic">{{ data['titulo'] }}</span>. {{ data['nombreSitio'] }}. {{ data['url'] }}</p>
    </div> 
{%endblock%}